@charset "UTF-8";

:root {
    --greyDark: #333333;
    --greyLight: #d6d6d6;
    --greyLight2: #a1a1a6;
    --white: #f5f5f7;
    --text: #1d1d1f;
    --blue: #0071e3;
    --a: #2997ff;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

header {
    width: 100%;
    height: 45px;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: 5;
    ul {
        height: 100%;
        width: 100%;
        max-width: 1000px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 -8;

        li {
            cursor: pointer;
            list-style: none;

            img {
                width: 18px;
                height: 18px;
            }
        }

    }
}

.home-page-collection {
    display: grid;
    grid-column: 1;
    grid-row: 3;
    margin-top: 45px;
    gap: 10px;
}

.iphone-family {
    width: 100%;
    height: 100%;
    border: #e30000 1px solid;
}

.content {
    overflow: hidden;
    display: block;
    flex-direction: column;
    background-color: #f5f5f7;
    height: 580PX;
    
}

.unity-wrapper {
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    overflow: hidden;
    border: #b6846c;
    justify-content: space-between;
    z-index: 4;
    position: relative;

}

.unity-link {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.unity-copy {
    display: flex;
    border: #ffc814af 1px solid;
    width: 100%;
    height: 291.94px;
    padding-top: 47px;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
}


.unity-image {
    height: 100%;
    z-index: 1;
    overflow: visible;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;

}

.iphone-family-pro {
    width: 100%;
    height: 100%;
    background-image: url(iphone16.jpg);
    background-position: center bottom;
}

.macbook-air {
    display: flex;
    border: #b9e300 1px solid;
    width: 100%;
    height: 100%;
    flex-direction: column;
    columns: 1;
}

.unity-copy-macbook {
    display: flex;
    border: #ffc814af 1px solid;
    width: 100%;
    height: 100%;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    border: #5be300 1px solid;
    z-index: 4;
    position: absolute;
}

.wrapper-top {
    width: 100%;
    height: 192.6px;
    border: #000e1b 1px solid;
}

.wrapper-bottom {
    width: 100%;
    height: 62.94px;
    border: #0071e3 1px solid;
}



.macbook-air-image {
    width: 100%;
    height: 100%;
    background-image: url(macbookair.jpg);
    background-position: center center;
    z-index: 1;
    display: block;
    overflow: visible;
}



.apple-watch-series-image {
    width: 100%;
    height: 100%;
    background-image: url(apple-watch-series.jpg);
    background-position: center bottom;
}



