@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {

    .container {
        display: grid;
        grid-template-areas: 
            "header"
            "main"
            "aside"
            "footer";
    }

    .header {
        grid-area: header;
        height: 10vh;
        justify-content: center;
        align-items: center;
        background-color: #1C1C1C;
        color: white;
        text-align: center;
    }

    .nav-right {
        display: none;
    }

    .nav-left {
        display: flex;
        flex-shrink: 100px;
        width: 100%;
    }
    .header-logo {
        border: #4CAF50 solid 1px;
    }

    .menu {
        display: block;
    }

    i {
        display: none;
    }

    i#burguer {
        background-color: rgb(31, 31, 31);
        color: white;
        display: block;
        text-align: center;
        cursor: pointer;
    
    }
    
    i#burguer:hover {
        background-color: rgb(168, 168, 168);
        transition: all 0.3s ease-in-out;
        color: black;
    }

    
}