@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-areas: 
        "header header header"
        "main main aside"
        "footer footer footer";
    gap: 10px;
}

img {
    width: 8vh;
}

.nav {
    display: flex;
    width: 100vh;
    height: 10vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1C1C1C;
    border: #1eb357 solid 1px;
    margin: 50px;
}

.menu {
    border: #c43b3b solid 1px;
    justify-content: start;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    height: 10vh;
    border: #a5af4c solid 1px;
    color: rgb(156, 68, 68);
}

.header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    height: 10vh;
    justify-content: center;
    align-items: center;
    background-color: #1C1C1C;
    color: white;
    text-align: center;

}


ul {
    display: flex;
    list-style-type: none;
    padding: 10px;
}

li {
    margin: 0 10px;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.main {
    grid-area: main;
    background-color: #ca7474;
    height: 90vh;
    margin-left: 10px;
    border-radius: 10px;

}

.section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: aside;
    background-color: #f4f4f4;
    height: 60vh;
    border-radius: 10px;
}

article {
    background-color: #f4f4f4;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    border: #4CAF50 solid 1px;
    height: 20vh;
}

.footer {
    grid-area: footer;
    height: 10vh;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    margin-top: 10p;
}

