.container {
    display: grid;
    grid-template: repeat(3, 100px) / repeat(4, 1fr);
    gap: 10px;
    
}

.caixa1 {
    grid-area: 1 / 1 / 2 / 5;
    background-color: aqua;
}

.caixa2 {
    grid-area: 2 / 1 / 4 / 3;
    background-color: red;
}

.caixa3 {
    grid-area: 2 / 3 / 4 / 5;
    background-color: green;
}