@charset "UTF-8";

html {
    box-sizing: border-box;
    height: 100%;
}

*,*::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background: linear-gradient(320deg, #eb92be, #ffef78, #63c9b4);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: grid;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    font-display: swap;
    height: inherit;
    justify-content: center;

}

.wrapper {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.30);
    border: 1px solid rgba(255, 255, 255, 0.34);
    width: 400px;
    height: 540px;
    padding: 20px 35px;

}

.screen {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgb(35, 35, 35, 0.1);
    color: #232323;
    font-size: 35px;
    overflow: auto;
    padding: 20px;
    text-align: right;
    width: 326px;
    font-family: inherit;
}

.calc-buttons-row-first {
    display: grid;
    grid-template-columns: 70px 70px 70px 70px;
    grid-template-rows: 65px;
    justify-content: space-between;
    justify-items: stretch;
    margin: 5% 0;
    font-family: inherit;
    
}

.calc-buttons-row {
    display: grid;
    grid-template-columns: 70px 70px 70px 70px;
    grid-template-rows: 65px; 
    justify-content: space-between;
    margin: 5% 0;
}

.calc-button {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    font-family: inherit;
    font-size: 24px;
    font-weight: 700;


}



.calc-buttons-row-last {
    display: grid;
    grid-template-columns: 70px 70px;
    grid-template-rows: 65px;
    justify-content: space-between;
    margin: 5% 0;
    font-family: inherit;
}

.calc-button:last-child {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #fff;
    background: #d72880;

}

.calc-button:last-child:hover {
    background-color: inherit;
    cursor: pointer;
    background: #d72880;
    color: #fff;
    transition: all 0.3s ease-in-out;
    
}
    

.calc-button:hover {
    cursor: pointer;
    background-color: inherit;
}

.calc-button:active {
    background-color: #ffef78;
}

.double {

    grid-column: span 2;
    width: 155px;
}

.triple {
    width: 240px;
}
